:root {
  padding: 20px;
  background-color: var(--theme-background-color);
  border: 1px solid red;
}

.container {
  padding: 30px;
  background-color: var(--theme-background-color);
  border: 1px solid blue;
}
